/.github/ @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
/terraform/ @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
/catalog-info.yaml @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
/catalog-info.yml @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
/.pre-commit-config.yaml @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
/.pre-commit-config.yml @digitaltitransversal/genesys-devs @digitaltitransversal/genesys-leaders
